<!DOCTYPE html>
<html lang="en">

<head>
  <title>NFL 2014 Leaderboard</title>
</head>

<body>
  <h1>NFL 2014 Season</h1>
  <h2>Season Leaderboard</h2>
  <% @team_stat.each do |stat| %>
    <div>
    <b><%= stat[0] %></b>
    <p>Wins: <%= stat[1][:win] %></p>
    <p>Losses: <%= stat[1][:loss] %></p>
    <br>
    </div>
  <% end %>
  <br><br>
  <a href="/..">Back</a>
</body>
